<div>
  <h2><a href="<%= user_post_path(user_id: user.id, id: post.id) %>">Post #<%= post.id %></a></h2>
  <p><%= post.text %></p>
  <span>Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter%></span>
</div>