<!DOCTYPE html>
<html lang="en">
<head>
  <title>User's posts</title>
</head>
<body>
 <div>
  
  <div>
  <div>
    <h2><%= @post.title %> by <%= @post.author.name %></h2>
    <span>Comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter%></span>
  </div>
    <p><%= @post.text %></p>
  </div>
  <div>
    <% @post.comments.includes(:author).each do |comment| %>
      <p><%= comment.author.name %>:<%= comment.text %></p>
      
      <% if can? :delete, comment %>
        <%= button_to "Delete", user_post_path(comment.post,comment.user, comment), method: :delete, class: "btn btn-outline-danger btn-sm" %>
      <% end %>
    <% end %>
  </div>
 </div>
</body>
</html>